/* Sección Sobre Nosotros */
.about-section {
    padding: 60px 0;
    background-image: url('../images/nosotros/Grupo\ Dragon_\ Sobre\ nosotros_\ Fondo.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #fff;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: left; /* Mantiene el texto alineado a la izquierda */
}

.about-content h4 {
    font-family: 'OpenSans-Light';
    color: #ed5050; /* Color rojo para el subtítulo */
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.about-content h1 {
    font-family: 'OpenSans-Bold';
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-content p {
    font-family: 'OpenSans-Regular';
    font-size: 1.2rem;
    margin-bottom: 40px;
    line-height: 1.3;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.gallery-item img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    filter: grayscale(100%); /* Imagen en blanco y negro por defecto */
}

.gallery-item:hover img {
    filter: grayscale(0%);
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
   
}

/* Sección Nuestro Equipo */
.team-section {
    padding: 60px 0;
    background-image: url('../images/Assets/nosotros/Grupo\ Dragon_\ Sobre\ nosotros_Fondo.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: left; /* Mantiene el texto alineado a la izquierda */
}
/* Contenedor para limitar el ancho del contenido */
.team-content {
    max-width: 800px; /* Ajusta según el tamaño deseado */
    width: 100%;
}

.team-content h1 {
    font-family: 'OpenSans-Bold';
    font-size: 2.5rem;
    margin-bottom: 20px;
  
}

.team-content p {
    font-family: 'OpenSans-Regular';
    font-size: 1.2rem;
    margin-bottom: 40px;
    line-height: 1.6;
}

.statistics {
    display: flex;
    justify-content: center;
    gap: 63px;
    flex-wrap: wrap;
}

.stat-item {
    font-family: 'OpenSans-Bold';
    text-align: center;
}

.stat-item h2 {
    font-size: 5rem;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px #ffffff;  
    color: #ffffff; /* Rojo para los números */
}

.stat-item p {
    font-family: 'OpenSans-Bold';
    font-size: 1.2rem;
    color: #fff;
}
/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    .about-section {
        padding-left: 10%; /* Reduce el margen izquierdo en dispositivos móviles */
        padding-right: 10%; /* Añade un margen derecho para centrar el contenido mejor */
        align-items: center; /* Centra verticalmente */
        justify-content: center; /* Centra horizontalmente */
        text-align: left; /* Mantiene el texto alineado a la izquierda */
    }

    .about-content {
        width: 100%; /* Asegura que el contenido ocupe todo el ancho disponible */
        max-width: none; /* Elimina la limitación del ancho máximo */
    }
    
.gallery-item {
    
    width: 90px;
    height: 90px;
  
}
.statistics {
    
    gap: 15px;
    
}

.stat-item {
  
     flex: 1 1 40%; /* Ajuste predeterminado para pantallas más grandes */
   
}
.stat-item h2 {
    font-size: 1.5rem;
  
}

.stat-item p{
    font-size: 1rem;
}
.team-section{
    padding: 40px;
}
.team-content h1{
    font-size: 1.7rem;
}
}